.light-loader {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	vertical-align: text-bottom;
	border-radius: 50%;
	position: relative;
	border: 2px solid #FFF;
	animation: mutere 0.8s infinite linear alternate, mutere2 1.6s infinite linear;
}
@keyframes mutere{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes mutere2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
.light-loader1 {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	vertical-align: text-bottom;
	border-radius: 50%;
	position: relative;
	border: 2px solid #FFF;
	animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
.dark-loader {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 2px solid #000;
	animation: sweep 0.8s infinite linear alternate, spinflip 1.6s infinite linear;
}

@keyframes sweep {
	0%    {clip-path: polygon(50% 50%, 0 0, 50% 0);}
	25%   {clip-path: polygon(50% 50%, 0 0, 100% 0);}
	50%   {clip-path: polygon(50% 50%, 0 0, 100% 100%);}
	75%   {clip-path: polygon(50% 50%, 100% 0, 100% 100%);}
	100%  {clip-path: polygon(50% 50%, 50% 100%, 0 100%);}
}

@keyframes spinflip { 
	0%    {transform: scaleY(1) rotate(0deg);}
	49.99%{transform: scaleY(1) rotate(135deg);}
	50%   {transform: scaleY(-1) rotate(0deg);}
	100%  {transform: scaleY(-1) rotate(-135deg);}
}
